Source: niri
Section: libs
Priority: optional
Standards-Version: 4.1.4
Vcs-Git: https://github.com/containers/libkrun.git
Vcs-Browser: https://github.com/containers/libkrun
Homepage: github.com/YaLTeR/niri
Build-Depends:
 debhelper-compat (= 13),
 dh-cargo,
 rustc

Package: niri
Section: libs
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Scrollable-tiling Wayland compositor
